doctype html

block variables
  - var options = locals.htmlWebpackPlugin.options
  - var datas   = options.getData()
  - var locals  = datas.locals
  - var pages   = datas.pages
  - var config  = datas.config

block cutsomVariables

html(lang=locals.lang)

  head
    block head
      block meta
      
  body
    block body
      header
        block header

      main
        block main
      footer
        block footer

    block scripts
