doctype html

block variables

block cutsomVariables

html(lang='en')

  head
    block head
      block meta

  body
    block body
      header
        block header

      main
        block main
      footer
        block footer

    block scripts
